/* missing 'common' properties */
section {
  background-color: white;
  color: rgb(62,67,71);
  padding: 0 1em;
}

/* grid */

main {
  display: grid;
  grid-template-columns: 1fr 4fr 80px;
  grid-template-areas:
    "header   header    header"
    "nav      section   aside"
    "footer   footer    footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;

  display: flex;
}

footer > article {
  flex: 1;
}





/* Tagging pour l'exemple en classe */
header {
  position: relative;
}
header::after {
  content: "GRID v2 NAMED \00D7  FLEXBOX";
  font-weight: bold;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
